
section.info-fluid{
height: 50rem;

div.info {
    display: flex;
justify-content: space-around;

    >article {
        font-family: 'Raleway', sans-serif;
        box-sizing: border-box;
        width: 30%;
        box-shadow: 1px 1px 42px -7px rgba(112,112,112,1);
        background-color: white;
        padding: 2rem;
        transition: 0.4s;

        h3{font-size: 2rem;
            font-weight: 400;
           span{
               font-family: 'fontello';
               font-size: 3rem;           }
           
            } 
        
        p{
            font-size: 1.4rem;
                font-weight: 100;
                line-height: 1.7;
        }
    }
    }
    article:hover{
        transform: translateY(10rem);
        
    }
}

