section.opinie {
    background-color: #f6f6f6;
    height: calc(100vh - 6rem);
    font-family: 'Raleway', sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    div.opinie {
        top: 15rem;

        h3 {text-align: center;
            font-size: 5rem;
            font-weight: 200;
            margin-bottom: 2rem;
        }

        p {text-align: center;
            font-size: 2rem;
            font-weight: 200;
        }
    }

    div.zbior {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        div.tekst {
            flex-wrap: wrap;
            box-sizing: border-box;
            display: flex;
            padding: 5rem;
        }

        article {
            width: 40rem;
            line-height: 3rem;
            margin-left: 5rem;
            font-size: 2rem;
            font-weight: 200;
        }
        
        div.kula{
            height: 10rem;
            width: 10rem;
            background-color: rgb(97, 53, 155);
            border-radius: 50%;
        }
    }
}