div.wstep {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

div.opinie {
    display: flex;
    flex-wrap: wrap;

    div:nth-child(1) {

        height: 5rem;
        width: 5rem;
        background-color: red;
        border-radius: 50%
    }

    div:nth-child(2) {
        width: 40%;
    }

    div:nth-child(3) {
        height: 5rem;
        width: 5rem;
        background-color: rgb(4, 0, 255);
        border-radius: 50%
    }

    div:nth-child(4) {
        width: 40%;
    }

    div:nth-child(5) {
        height: 5rem;
        width: 5rem;
        background-color: rgb(51, 255, 0);
        border-radius: 50%
    }

    div:nth-child(6) {
        width: 40%;
    }

    div:nth-child(7) {
        height: 5rem;
        width: 5rem;
        background-color: rgb(3, 0, 0);
        border-radius: 50%
    }

    div:nth-child(8) {
        width: 40%;
    }
}