html {
  font-size: 10px;
}

html body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?53015172");
  src: url("../font/fontello.eot?53015172#iefix") format("embedded-opentype"), url("../font/fontello.woff2?53015172") format("woff2"), url("../font/fontello.woff?53015172") format("woff"), url("../font/fontello.ttf?53015172") format("truetype"), url("../font/fontello.svg?53015172#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

section.navbar-fluid {
  position: fixed;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.55);
          box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.55);
}

section.navbar-fluid div.navbar {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header-top-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
  height: calc(100vh - 6rem);
  background-image: -webkit-gradient(linear, left top, right top, from(#3dcdbc), color-stop(#2ac3c0), color-stop(#20b8c2), color-stop(#26acc1), to(#33a1bd));
  background-image: linear-gradient(to right, #3dcdbc, #2ac3c0, #20b8c2, #26acc1, #33a1bd);
}

header.header-top-fluid .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.header-top-fluid .container div:nth-child(2) {
  padding-left: 4rem;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

header.header-top-fluid .container div:nth-child(2) h2 {
  margin: 0 0 2rem 0;
  font-size: 4rem;
  font-weight: 200;
}

header.header-top-fluid .container div:nth-child(2) p {
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  font-weight: 400;
}

header.header-top-fluid .container div:nth-child(2) div a {
  font-weight: 400;
  display: inline-block;
  background-color: #fff;
  height: 5rem;
  width: 15rem;
  text-decoration: none;
  color: #26acc1;
  font-size: 1.1rem;
  text-align: center;
  line-height: 5rem;
}

section.container-fluid div.clients {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
}

section.intro-fluid div.info {
  height: 33rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

section.intro-fluid div.info h2 {
  font-size: 3.5rem;
  font-weight: 300;
}

section.intro-fluid div.info p {
  font-size: 1.8rem;
  font-weight: 200;
  text-align: center;
}

section.intro-fluid div.info div.przycisk > a {
  display: inline-block;
  width: 20rem;
  height: 6rem;
  background-color: #00FFA3;
  text-decoration: none;
  color: #239C71;
  -webkit-box-shadow: 0px 0px 26px 2px rgba(115, 109, 115, 0.46);
          box-shadow: 0px 0px 26px 2px rgba(115, 109, 115, 0.46);
}

section.intro-fluid div.info div.przycisk > a > span {
  font-weight: bold;
  line-height: 6rem;
  font-size: 1.4rem;
  display: block;
  text-align: center;
}

section.info-fluid {
  height: 50rem;
}

section.info-fluid div.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.info-fluid div.info > article {
  font-family: 'Raleway', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  -webkit-box-shadow: 1px 1px 42px -7px #707070;
          box-shadow: 1px 1px 42px -7px #707070;
  background-color: white;
  padding: 2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section.info-fluid div.info > article h3 {
  font-size: 2rem;
  font-weight: 400;
}

section.info-fluid div.info > article h3 span {
  font-family: 'fontello';
  font-size: 3rem;
}

section.info-fluid div.info > article p {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.7;
}

section.info-fluid article:hover {
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
}

div.button > a {
  display: inline-block;
  width: 36rem;
  height: 10rem;
  background-color: aliceblue;
  text-decoration: none;
  color: #000;
  overflow: hidden;
}

div.button > a > span {
  line-height: 10rem;
  font-size: 3rem;
  display: block;
  text-align: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

div.button > a:hover span {
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

div.wstep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.opinie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.opinie div:nth-child(1) {
  height: 5rem;
  width: 5rem;
  background-color: red;
  border-radius: 50%;
}

div.opinie div:nth-child(2) {
  width: 40%;
}

div.opinie div:nth-child(3) {
  height: 5rem;
  width: 5rem;
  background-color: #0400ff;
  border-radius: 50%;
}

div.opinie div:nth-child(4) {
  width: 40%;
}

div.opinie div:nth-child(5) {
  height: 5rem;
  width: 5rem;
  background-color: #33ff00;
  border-radius: 50%;
}

div.opinie div:nth-child(6) {
  width: 40%;
}

div.opinie div:nth-child(7) {
  height: 5rem;
  width: 5rem;
  background-color: #030000;
  border-radius: 50%;
}

div.opinie div:nth-child(8) {
  width: 40%;
}

section.products-fluid {
  height: 100rem;
}

section.products-fluid div.intro {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

section.products-fluid div.intro h3 {
  font-size: 5rem;
  font-weight: 200;
}

section.products-fluid div.intro p {
  font-size: 2rem;
  font-weight: 200;
}

section.products-fluid div.caly {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.products-fluid div.caly div.lewo div.jeden {
  background-color: #e4c285;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  height: 30rem;
  width: 40rem;
}

section.products-fluid div.caly div.lewo div.dwa {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  background-color: #a5a5a5;
  height: 30rem;
  width: 40rem;
}

section.products-fluid div.caly div.srodek {
  margin: 1.5rem 0 1.5rem 0;
  height: 61.5rem;
  width: 40rem;
  background-color: #d8d8d8;
}

section.products-fluid div.caly div.prawo div.trzy {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  background-color: #c7fd81;
  height: 30rem;
  width: 40rem;
}

section.products-fluid div.caly div.prawo div.cztery {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  background-color: #50b44d;
  height: 30rem;
  width: 40rem;
}

div.przycisk {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.przycisk > a {
  display: inline-block;
  width: 20rem;
  height: 6rem;
  background-color: #00FFA3;
  text-decoration: none;
  color: #239C71;
  -webkit-box-shadow: 0px 0px 26px 2px rgba(115, 109, 115, 0.46);
          box-shadow: 0px 0px 26px 2px rgba(115, 109, 115, 0.46);
}

div.przycisk > a > span {
  font-weight: bold;
  line-height: 6rem;
  font-size: 1.4rem;
  display: block;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */